
.wrapper{
    top: 50%;
    left: 50%;
    max-width: 550px;
    padding: 30px;
  }
  

  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields .input,
.msg textarea{
  margin: 15px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid darkblue;
  padding: 10px;
  color: darkblue;
  width: 100%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color:darkblue;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: darkblue;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: darkblue;
}
.btn{
    color: white;
    background-color: darkblue;
    padding:8px;
    border-radius: 30%;
    border-bottom:   transparent;
}

.btn:hover{
    color: darkblue;
    background-color: white;
    padding:8px;
    border-radius: 30%;
    border-bottom:   transparent;
}