.history-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.history-card {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  box-shadow: -1px -1px 2px gray;
  width: 100%;
  border-radius: 0 0 0 50px;
  height: 500px;
 
}

.list {
  height: 90%;
  overflow-y: scroll;

}
.lists {
  height: 90%;
  

}
.lists li:hover .delete-btn {
  opacity: 1;
}

.history-list > li {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0.7rem;
  margin: 1rem;
  color: #163172;
  font-weight: 600;
}


.heading {
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 50px;
  background: #163172;
  border-top: 1px solid black;
  padding-right: 400px;
}

.heading h3 {
  color: #fff;
  font-size: 20px;
  padding-left: 100px;
}