.incomeItem {
    box-shadow: 1px 2px 3px #51a724, 3px 0px 1px #51a724;
  }
  
  .expenseItem {
    box-shadow: 1px 2px 3px #b83b30, 3px 0px 1px #b83b30;
  }
  .delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 6%;
    left: 55px;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  